@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 10px;
}


h1 {
  color: rgb(147, 147, 252);
  font-family: "Oswald", sans-serif;
  margin: 20px 0;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


 ul {
   width: 100%;
    list-style-type: none;
    margin: 0;
    height: 5em;
    padding: 0;
    overflow: hidden;
    background-color: rgb(189, 186, 186);
}

li {
    float: left;
}

li a {
 
    display: block;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(99, 205, 238);
     border-radius:5px;
     
}
.active {
    background-color: #c5e8f8;
    border-radius:5px;
    box-shadow:2px 2px 2px 2px rgb(36, 33, 33)
}
img{
  width: 200px;
  height: 250px;
  border-radius: 50px;
  /* border:5px saddlebrown; */
  box-shadow: 5px 5px 5px 5px rgb(135, 184, 240)
}
body{

  
  background-color: rgb(196, 193, 193);
   scroll-behavior: smooth;
   background-image: url('assets/background.jpg');

}
div{
 
  box-sizing: border-box
}
.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    
}  

.flex-child:first-child {
    margin-right: 20px;
} 